{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    <style>
    .hide{
	display:none;
    color:floralwhite;
}
.show{
	display:block;
	position:absolute;
	left: 200px;
	top: 200px;
	color: blue;
}
    </style>
    
</head>
    <body>   
    <div class="container-fluid">
    <div style="background-color:brown" class="jumbotron">   
        <center><h1 style="color:aliceblue">Artificial Vision</h1>
        <h4 style="color:blanchedalmond">( An aid to visually impaired person )</h2>
            </center>
      <form action="" method="post">
        {% csrf_token %}
            
        <input type="hidden" value="capture" name="command">
        <br>
        <center><button class="btn btn-outline-warning" type="submit" onclick="time()">Click to capture</button>
        <br><br><h6 id="wait" class="hide">...Please wait while analyzing image and generating response...</h5></center>
        
        </form>
        
        </div>
        {% if response %}
        
        <input type="hidden" id="my" value="{{image_url}}" >
        
        <center> <img id="change" src="{% static 'project_log/images/2.jpg' %}" height="200"></center>
        
        <script>
             
             var y = document.getElementById("my").value;
             
            
             var str1="http://localhost:8000/static/project_log/images/"
             var final=str1.concat(y)
             document.getElementById("change").src=final;
        </script>
     
        <center><span><p style="font-size: 20px; color: crimson;">{{ response }}</p></span></center>
        
         {% endif %}
        </div> 
    
    </body>
   <script>
        
        function time()  //executes when the page finishes loading
{
	setTimeout(func1, 2500);  //sets a timer which calls function func1 after 2,000 milliseconds = 2 secs.
	
};
function func1()
{
    document.getElementById('wait').style.display="block";
}
        </script>
</html>